<!-- views/pages/about.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>UFLA Monitoria API</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>
  </style>
</head>
<body>
  <header>
    <% include partials/navebar %>
  </header>

   <main>
    <div class="container cadastroAtividade">

     <div class="jumbotron">
       <p>Informações da Atividade</p><br>
       <form action="/atividades/cadastrar/<%= professor %>/<%= monitoria %>" method="post" class="form-horizontal">
        <div class="form-group">
          <label>Tipo de Atividade:</label>
            <select multiple class="form-control custom-select" name="tipoDeAtividade" required>
                <option value="ATV01">ATV01 - Atendimento aos alunos</option>
                <option value="ATV02">ATV02 - Preparo de material</option>
                <option value="ATV03">ATV03 - Avaliar trabalhos/listas</option>
                <option value="ATV04">ATV04 - Auxílio em laboratótirio</option>
                <option value="ATV05">ATV05 - Outros</option>
            </select>
        </div>
        <div class="form-group">
          <label>Descrição da Atividade:</label>
          <textarea class="form-control" name="descricao" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label>Prazo da Atividade:</label>
          <input type="text"  class="form-control" name="prazo">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
      </form>
     </div>

    </div>
   </main>

  <footer>
  </footer>
</body>
</html>
